<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.t.dao.UserProductMapper" >
  <resultMap id="BaseResultMap" type="com.t.entity.UserProduct" >
    <id column="id" property="userProductId" jdbcType="BIGINT" />
    <result column="userid" property="userid" jdbcType="BIGINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="productid" property="productid" jdbcType="BIGINT" />
    <result column="productname" property="productname" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, username, productid, productname, createtime, state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_product
    where id = #{userProductId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_product
    where id = #{userProductId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.t.entity.UserProduct" >
    insert into user_product (id, userid, username, 
      productid, productname, createtime, 
      state)
    values (#{userProductId,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, 
      #{productid,jdbcType=BIGINT}, #{productname,jdbcType=VARCHAR}, sysdate(), 
      1)
  </insert>
  <insert id="insertSelective" parameterType="com.t.entity.UserProduct" >
    insert into user_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userProductId != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="productid != null" >
        productid,
      </if>
      <if test="productname != null" >
        productname,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userProductId != null" >
        #{userProductId,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=BIGINT},
      </if>
      <if test="productname != null" >
        #{productname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.t.entity.UserProduct" >
    update user_product
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=BIGINT},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="productid != null" >
        productid = #{productid,jdbcType=BIGINT},
      </if>
      <if test="productname != null" >
        productname = #{productname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{userProductId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.t.entity.UserProduct" >
    update user_product
    set userid = #{userid,jdbcType=BIGINT},
      username = #{username,jdbcType=VARCHAR},
      productid = #{productid,jdbcType=BIGINT},
      productname = #{productname,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER}
    where id = #{userProductId,jdbcType=BIGINT}
  </update>
</mapper>